<h1> Consulta de Frete </h1>

<%= form_with model: @freight, local: true do |f| %>
  <div>
    <%= f.text_field :state, :placeholder=>"Digite o CEP" %>
    <%= f.submit 'Calcular' %>
  </div>
<% end %>