<section id="main">
  <dl>
    <dt>Produto: </dt>
    <dd><%= @power_generator.name %></dd>
    <dt>Frete: </dt>

  </dl>
</section>
<h1><%= @freight.state %>

<h1><%= @freight.cost %></h1>




    
    